Source/Core/Web References/Umbraco6DocumentService/DocumentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://umbraco.org/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://umbraco.org/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://umbraco.org/webservices/">
      <s:element name="create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="carrier" type="tns:documentCarrier" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="documentCarrier">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentProperties" type="tns:ArrayOfDocumentProperty" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasChildren" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PublishAction" type="tns:EPublishAction" />
          <s:element minOccurs="1" maxOccurs="1" name="Published" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ReleaseDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpireDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDocumentProperty">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="documentProperty" nillable="true" type="tns:documentProperty" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="documentProperty">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PropertyValue" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EPublishAction">
        <s:restriction base="s:string">
          <s:enumeration value="Ignore" />
          <s:enumeration value="Publish" />
          <s:enumeration value="Unpublish" />
        </s:restriction>
      </s:simpleType>
      <s:element name="createResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="createResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="readResult" type="tns:documentCarrier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadPublished">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadPublishedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadPublishedResult" type="tns:documentCarrier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parentid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDocumentCarrier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="documentCarrier" nillable="true" type="tns:documentCarrier" />
        </s:sequence>
      </s:complexType>
      <s:element name="readListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="readListResult" type="tns:ArrayOfDocumentCarrier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="carrier" type="tns:documentCarrier" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResponse">
        <s:complexType />
      </s:element>
      <s:element name="delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebservicesEnabled">
        <s:complexType />
      </s:element>
      <s:element name="WebservicesEnabledResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebservicesEnabledResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuthenticates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuthenticatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserAuthenticatesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserHasAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserHasAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserHasAccessResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="createSoapIn">
    <wsdl:part name="parameters" element="tns:create" />
  </wsdl:message>
  <wsdl:message name="createSoapOut">
    <wsdl:part name="parameters" element="tns:createResponse" />
  </wsdl:message>
  <wsdl:message name="readSoapIn">
    <wsdl:part name="parameters" element="tns:read" />
  </wsdl:message>
  <wsdl:message name="readSoapOut">
    <wsdl:part name="parameters" element="tns:readResponse" />
  </wsdl:message>
  <wsdl:message name="ReadPublishedSoapIn">
    <wsdl:part name="parameters" element="tns:ReadPublished" />
  </wsdl:message>
  <wsdl:message name="ReadPublishedSoapOut">
    <wsdl:part name="parameters" element="tns:ReadPublishedResponse" />
  </wsdl:message>
  <wsdl:message name="readListSoapIn">
    <wsdl:part name="parameters" element="tns:readList" />
  </wsdl:message>
  <wsdl:message name="readListSoapOut">
    <wsdl:part name="parameters" element="tns:readListResponse" />
  </wsdl:message>
  <wsdl:message name="updateSoapIn">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="updateSoapOut">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSoapIn">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="deleteSoapOut">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="WebservicesEnabledSoapIn">
    <wsdl:part name="parameters" element="tns:WebservicesEnabled" />
  </wsdl:message>
  <wsdl:message name="WebservicesEnabledSoapOut">
    <wsdl:part name="parameters" element="tns:WebservicesEnabledResponse" />
  </wsdl:message>
  <wsdl:message name="UserAuthenticatesSoapIn">
    <wsdl:part name="parameters" element="tns:UserAuthenticates" />
  </wsdl:message>
  <wsdl:message name="UserAuthenticatesSoapOut">
    <wsdl:part name="parameters" element="tns:UserAuthenticatesResponse" />
  </wsdl:message>
  <wsdl:message name="UserHasAccessSoapIn">
    <wsdl:part name="parameters" element="tns:UserHasAccess" />
  </wsdl:message>
  <wsdl:message name="UserHasAccessSoapOut">
    <wsdl:part name="parameters" element="tns:UserHasAccessResponse" />
  </wsdl:message>
  <wsdl:portType name="documentServiceSoap">
    <wsdl:operation name="create">
      <wsdl:input message="tns:createSoapIn" />
      <wsdl:output message="tns:createSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input message="tns:readSoapIn" />
      <wsdl:output message="tns:readSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadPublished">
      <wsdl:input message="tns:ReadPublishedSoapIn" />
      <wsdl:output message="tns:ReadPublishedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="readList">
      <wsdl:input message="tns:readListSoapIn" />
      <wsdl:output message="tns:readListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateSoapIn" />
      <wsdl:output message="tns:updateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteSoapIn" />
      <wsdl:output message="tns:deleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebservicesEnabled">
      <wsdl:input message="tns:WebservicesEnabledSoapIn" />
      <wsdl:output message="tns:WebservicesEnabledSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAuthenticates">
      <wsdl:input message="tns:UserAuthenticatesSoapIn" />
      <wsdl:output message="tns:UserAuthenticatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserHasAccess">
      <wsdl:input message="tns:UserHasAccessSoapIn" />
      <wsdl:output message="tns:UserHasAccessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="documentServiceSoap" type="tns:documentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create">
      <soap:operation soapAction="http://umbraco.org/webservices/create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap:operation soapAction="http://umbraco.org/webservices/read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadPublished">
      <soap:operation soapAction="http://umbraco.org/webservices/ReadPublished" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readList">
      <soap:operation soapAction="http://umbraco.org/webservices/readList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://umbraco.org/webservices/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://umbraco.org/webservices/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebservicesEnabled">
      <soap:operation soapAction="http://umbraco.org/webservices/WebservicesEnabled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthenticates">
      <soap:operation soapAction="http://umbraco.org/webservices/UserAuthenticates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHasAccess">
      <soap:operation soapAction="http://umbraco.org/webservices/UserHasAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="documentServiceSoap12" type="tns:documentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create">
      <soap12:operation soapAction="http://umbraco.org/webservices/create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap12:operation soapAction="http://umbraco.org/webservices/read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadPublished">
      <soap12:operation soapAction="http://umbraco.org/webservices/ReadPublished" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readList">
      <soap12:operation soapAction="http://umbraco.org/webservices/readList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="http://umbraco.org/webservices/update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="http://umbraco.org/webservices/delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebservicesEnabled">
      <soap12:operation soapAction="http://umbraco.org/webservices/WebservicesEnabled" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthenticates">
      <soap12:operation soapAction="http://umbraco.org/webservices/UserAuthenticates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHasAccess">
      <soap12:operation soapAction="http://umbraco.org/webservices/UserHasAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="documentService">
    <wsdl:port name="documentServiceSoap" binding="tns:documentServiceSoap">
      <soap:address location="http://umbraco.dtl.web01.cabana.dk/umbraco/webServices/api/DocumentService.asmx" />
    </wsdl:port>
    <wsdl:port name="documentServiceSoap12" binding="tns:documentServiceSoap12">
      <soap12:address location="http://umbraco.dtl.web01.cabana.dk/umbraco/webServices/api/DocumentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>