Source/Core/Web References/ExtendedSitecoreAPI5x/security.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetItemSecurityString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemSecurityStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemSecurityStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemSecurity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemSecurityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemSecurityResult" type="tns:ArrayOfRoleStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRoleStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RoleStruct" type="tns:RoleStruct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoleStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Roles" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAdmin" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessRight" type="tns:AccessRights" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AccessRights">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="NotSet" />
              <s:enumeration value="Read" />
              <s:enumeration value="Write" />
              <s:enumeration value="Rename" />
              <s:enumeration value="Create" />
              <s:enumeration value="Delete" />
              <s:enumeration value="Administer" />
              <s:enumeration value="DenyRead" />
              <s:enumeration value="DenyWrite" />
              <s:enumeration value="DenyRename" />
              <s:enumeration value="DenyCreate" />
              <s:enumeration value="DenyDelete" />
              <s:enumeration value="DenyAdminister" />
              <s:enumeration value="AllowAll" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:element name="GetUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sDomain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfRoleStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetItemSecurityStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemSecurityString" />
  </wsdl:message>
  <wsdl:message name="GetItemSecurityStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemSecurityStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemSecuritySoapIn">
    <wsdl:part name="parameters" element="tns:GetItemSecurity" />
  </wsdl:message>
  <wsdl:message name="GetItemSecuritySoapOut">
    <wsdl:part name="parameters" element="tns:GetItemSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="SecuritySoap">
    <wsdl:operation name="GetItemSecurityString">
      <wsdl:input message="tns:GetItemSecurityStringSoapIn" />
      <wsdl:output message="tns:GetItemSecurityStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemSecurity">
      <wsdl:input message="tns:GetItemSecuritySoapIn" />
      <wsdl:output message="tns:GetItemSecuritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecuritySoap" type="tns:SecuritySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItemSecurityString">
      <soap:operation soapAction="http://tempuri.org/GetItemSecurityString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemSecurity">
      <soap:operation soapAction="http://tempuri.org/GetItemSecurity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SecuritySoap12" type="tns:SecuritySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItemSecurityString">
      <soap12:operation soapAction="http://tempuri.org/GetItemSecurityString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemSecurity">
      <soap12:operation soapAction="http://tempuri.org/GetItemSecurity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Security">
    <wsdl:port name="SecuritySoap" binding="tns:SecuritySoap">
      <soap:address location="http://internet.regioner.web01.cabana.dk/sitecore%20modules/shell/extendedsitecoreapi5x/security.asmx" />
    </wsdl:port>
    <wsdl:port name="SecuritySoap12" binding="tns:SecuritySoap12">
      <soap12:address location="http://internet.regioner.web01.cabana.dk/sitecore%20modules/shell/extendedsitecoreapi5x/security.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>